body{
  background-image: url(blueCode.jpg);
  background-color: darkblue;
  color:white;
  width: 100wh;
  height: 90vh;
  background-size: 400% 400%;

}

#pic{
    float: right;
   max-height: 20px;
    transform: rotate(10deg); 
}
#container{
   	width: 800px;
	margin: 40px auto 60px;
	float: center;
}

#name {
    padding-left: 405px;
}
