#content{
             align-content: center;
}
body {
             font: 15px Georgia, Sans-Serif;
             width: 100wh;
	     height: 90vh;
	     color: #fff;
            
        }

        #pic {
            max-width: 10px;
            float: right;
            margin: 10px;
            transform: rotate(10deg);
            box-shadow: darkblue: 10px;
        }
